.btn{
    height: 80px;
    width: 50px;
    margin: 5px;
    border-radius: 25px !important;
    background-color: aquamarine !important;
    color: black !important;
}
.h11{
    background-color: black;
    color: white;
    border-radius: 25px;
}
.h12{
    background-color: black;
    color: white;
    border-radius: 25px;
}
.h13{
    background-color: black;
    color: white;
    border-radius: 25px;
}
